//colors
$blue: #009ee3;
$yellow: #ffed00;
$purple:#E5007D;
$white: #ffffff;
$black: #000000;
$transparent: rgba(#E5007D, 0);

$sizes: (
        "instagram-post": ("width": 1080px, "height": 1080px, "ratio": 2),
        "instagram-story": ("width": 1080px, "height": 1920px, "ratio": 3),
        "facebook-banner": ("width": 2050px, "height": 780px, "ratio": 3.5),
        "twitter-banner": ("width": 1500px, "height": 500px, "ratio": 3.3)
);
$themes: (
        'purple-blue-btw': ("color1": $purple, "color2": $blue, 'style': 'btw'),
        'purple-yellow-btw': ("color1": $yellow, "color2": $purple, 'style': 'btw'),
        'blue-yellow-btw': ("color1": $blue, "color2": $yellow, 'style': 'btw'),
        'black-black-btw': ("color1": $black, "color2": $black, 'style': 'btw'),
        'blue-purple-btw': ("color1": $blue, "color2": $purple, 'style': 'btw'),
        'yellow-purple-btw': ("color1": $purple, "color2": $yellow, 'style': 'btw'),
        'yellow-blue-btw': ("color1": $yellow, "color2": $blue, 'style': 'btw'),
);

/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvC73w0aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvC73w9aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvC73w2aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvC73w3aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvC73w5aXx-p7K4KLg.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@import "navbar";
@import "tool";
@import "./generator/generator";


html,
body {
  background: $white;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 1rem 1rem 1rem 0;
  display: inline-block;
  position: relative;
  height: fit-content;
  color: $purple;

  &.blue {
    color: $blue;
  }

  &.yellow {
    color: $yellow;
  }

  &.black {
    color: $black;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}


h3 {
  font-size: 1.5rem;
}

p {
  text-transform: uppercase;
  font-size: .75rem;
  color: $black;
  margin: 0;
}

